<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.genius_otis.launchmode1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Standard_ModeActivity"
            android:launchMode="standard"
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SingleTopActivity"
            android:launchMode="singleTop" android:taskAffinity="com.some.affinity"/>
        <activity
            android:name=".Single_TaskActivity"
            android:launchMode="standard"
            android:taskAffinity="com.some.task.affinity"
             />
        <activity
            android:name=".Single_InstanceActivity"
            android:launchMode="standard"
            android:taskAffinity="com.some.new.affinity"
            />

    </application>

</manifest>


